$shield: #233139;
$base: #727d84;
$callout: #6fbbb7;
$light: #d1d2d4;


.wrapper {
  border-top: 5px solid $shield;
}

header {
  text-align: center;
  img {
    width: 125px;
  }
  h1 {
    font-size: 15px;
  }
}

.container {
  width: 1100px;
  margin: 100px auto;
}


.chat-window {
  background-color: $light;
  position: relative;
  padding-bottom:40px;
  form, section { margin-bottom: 0;}
  form {
    position: absolute;
    width: 100%;
    bottom:0;
    left: 0;
  }
}
