$shield: #233139;
$base: #727d84;
$callout: #6fbbb7;
$light: #d1d2d4;

.zeroauto {
  margin: 0 auto;
}

.wrapper {
  border-top: 5px solid $shield;
  position: relative;
}

header {
  margin-top: 25px;
  text-align: center;
  img {
    width: 125px;
  }
  h1 {
    font-size: 15px;
  }
}

div.label.label-default.admin-view {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: $callout;
  color: white;
}

.course-description {
  .text {
    padding-top: 15px;
  }
}

.google-login, .google-login:hover {
  background-color: #db4437;
  color: white;
}

.main-nav {
  position: absolute;
  top: 5px;
  right: 15px;
}

.container {
  max-width: 900px;
  padding: 0 25px 25px 25px;
  margin: 50px auto;
}

.form-container {
  background-color: lighten($light, 15%);
  width: 500px;
  padding: 25px;
  border-radius: 4px;
  margin: 0 auto;
  h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
  }
  .btn {
    background-color: $callout;
    color: white;
  }
}

.dateField {
  label {
    display: inline-block;
    font-size: 15px;
  }
  input {
    font-size: 17px;
    padding-left: 15px;
    color: $callout;
  }
}


.chat-window {
  .inner {
    border: 1px solid $shield;
    border-radius: 4px 4px 0 0;
    background-color: lighten($light, 15%);
    position: relative;
    padding-bottom:40px;
    h4 {
      background-color: $light;
      border-radius: 4px 4px 0 0;
      text-align: center;
      padding: 5px 0;
      margin: 1px;
      color: $shield;
    }
    ul {
      margin: 0;
      padding: 15px;
      list-style: none;
      li {
        padding: 0 5px;
        position: relative;
        &:before {
          content: "\00bb";
          padding-right: 8px;
        }
        &:nth-child(even) {
          background-color: lighten($light, 10%);
        }
        .delete {
          display: none;
          position: absolute;
          right: 5px;
          top: 5px;
        }
        &:hover .delete {
          display: block;
        }
      }
    }
    form, section { margin-bottom: 0;}
    form {
      position: absolute;
      width: 100%;
      bottom:0;
      left: 0;
      input {
        border-top: 3px solid $shield;
      }
    }
  }
}
