<row>
    <column cols="6">
      <h2>Crash Course</h2>
      <div class="text" ng-bind-html="vm.description"></div>
    </column>

    <column cols="6" class="chat-window">
      <ul>
        <li ng-repeat="message in vm.messages">{{ message.$value }}</li>
      </ul>

      <form ng-submit="vm.addMessage(vm.message)" class="forms" ng-show="vm.authed">
        <section>
          <input autocomplete="off" type="text" ng-model="vm.message" />
        </section>
      </form>

    </column>
</row>
